:root { 
--bluegray_52:#e7edf0; 
--green_300:#77c277; 
--bluegray_51:#e9eff3; 
--bluegray_50:#eff0f2; 
--deep_orange_A100:#f9a86d; 
--black_900_07:#00000007; 
--gray_402:#c4c4c4; 
--gray_400:#c1c9ce; 
--gray_800:#464747; 
--gray_801:#3b3b3b; 
--black_900_0f:#0000000f; 
--blue_52:#dff0ff; 
--blue_50:#ecf3ff; 
--blue_51:#eaf4fe; 
--indigo_400:#627eb3; 
--bluegray_206:#acb7bd; 
--bluegray_205:#abb7bd; 
--bluegray_204:#acb0b2; 
--bluegray_400:#758891; 
--bluegray_202:#aab6bc; 
--bluegray_201:#aeb8be; 
--bluegray_200:#aeb9be; 
--blue_100:#c5e1f9; 
--blue_101:#b6d9ef; 
--white_A700:#ffffff; 
--deep_orange_50:#f4e3e3; 
--gray_51:#f7f9fa; 
--blue_A700:#0561fc; 
--red_300:#c46464; 
--gray_50:#f8fafb; 
--green_400:#64c464; 
--black_900:#000000; 
--gray_501:#a5a8aa; 
--gray_700:#575c5e; 
--gray_500:#9aa0a3; 
--green_51:#e5fce5; 
--indigo_50:#e4ebef; 
--red_A100:#fa7b7b; 
--bluegray_100:#d2dce1; 
--light_blue_50:#e3f5ff; 
--green_50:#e3f4e3; 
--gray_300:#e5e5e5; 
--gray_100:#f1f3f4; 
--orange_50:#fff4df; 
--bluegray_302:#a7adb1; 
--bluegray_301:#92a2ab; 
--bluegray_300:#9dacb3; 
--bluegray_101:#c4ccd0; 
--blue_201:#9ec1fa; 
--blue_200:#9ac7f7; 
}